:root {
    --background: #fefefe;
    --foreground: #2e3440;
    --light-gray: #eceff4;
    --light-text: #4c566a;
    --link: #5e81ac;
    --link-hover: #0052a3;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

a {
    color: var(--link-color);
    text-decoration: none;
}

body {
    background: var(--background);
    color: var(--foreground);
    font-family: "Inter", sans-serif;
}

h1 {
    font-family: "Inter", monospace;
    /* font-family: "Nanum Gothic Coding", monospace; */
    text-align: center;
    max-width: 720px;
    margin: 32px auto;
    line-height: 1.4;
    color: var(--foreground);
}

h2 {
    /* font-family: "Nanum Gothic Coding", monospace; */
    font-family: "Inter", monospace;
    margin-bottom: 12px;
}

p {
    line-height: 1.6;
    margin-bottom: 12px;
    color: var(--light-text);
    font-family: "Inter", monospace;
}

.container {
    padding: 20px;
    max-width: 980px;
    margin: 0 auto;
    min-height: 95vh;
}
